body{
    background-color: #efefef;
    text-align: center;
}

/* Navbar */
nav ul{
    display: flex;
    gap: 15px;
    align-items: center;
}

nav ul li{
    list-style-type: none;
}

nav ul li a{
    font-size: 23px;
    font-weight: 600;
    text-decoration: none;
    color: #007bff;
    padding-bottom: 12px;
    text-underline-offset: 6px;
}

nav ul li a:hover{
    text-decoration: underline;
}

.container{
    width: 600px;
    margin-top: 50px;
    margin-left:auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img{
    width: 80px;
}

h1{
    color: #007bff;
    font-weight: 800;
    text-align: center;
    font-family: 'Courier New', Courier, monospace ;
}

h2{
    font-size: 30px;
    background-color: rgb(204, 125, 125);
    width: 100%;
    border-radius: 6px;
    box-shadow: 14px 22px 45px -9px rgba(0,0,0,0.71);
    padding-top: 12px;
    padding-bottom: 12px;
    color: rgb(255, 251, 251);
    font-weight: bold;
}

h2:hover{
    box-shadow: none;
    transition: all 0.9s;
    animation-duration: 3000s;
}

p{
    color: gray;
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
}

a{
    color: #007bff;
}

.yla{
    text-decoration: none;
}

p:hover{
    color: #E74C3C;
}

a:hover{
    color: #E74C3C;
}